body{
  background-image: url('pizzaBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 65px;
  font-family: futura;
  color: white;
  text-shadow:-6px 0 black;
}

img{
  float:left;
  width: 155px;
  height: 130px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

button{
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: #AFEEEE;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 20px;
  font-family: futura;
}

button:hover {
  background-color: #00CED1;
  color: black;
  border: white;
}

div{
  display: inline-block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.60);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

p{
  font-size: 19px;
  font-family: futura;
  color: black;
  text-align: center;
}
