body{
  background-image: url('pizzaBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 60px;
  font-family: futura;
  color: white;
  text-shadow:-7px 0 black;
}

img{
  float:left;
  width: 160px;
  height: 122px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

button{
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: #AFEEEE;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 20px;
  font-family: futura;
}

button:hover {
  background-color: #00CED1;
  color: black;
  border: white;
}
