/*background image*/
body{
  background-image: url('pizzaBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*header1 styling: font, font size, color, and shadowing*/
h1{
  font-size: 65px;
  font-family: futura;
  color: white;
  text-shadow:-6px 0 black;
}
/*logo image styling: floating to the left and size*/
img{
  float:left;
  width: 155px;
  height: 130px;
}
/*table styling: centered*/
table{
  margin-left: auto;
  margin-right: auto;
}
/*button styling: aligned center, background color, transition when mouse hovers over, font, font color, and font size*/
button{
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: #AFEEEE;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 20px;
  font-family: futura;
}
/*button hovering styling: changes color when hovered over*/
button:hover {
  background-color: #00CED1;
  color: black;
  border: white;
}
/*styling for the background of the paragraph: set opacity of background color, aligned center*/
div{
  display: inline-block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.60);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/*paragraph styling: font, font size, font color*/
p{
  font-size: 19px;
  font-family: futura;
  color: black;
  text-align: center;
}
