h1{
  font-size: 60px;
  font-family: futura;
  text-shadow: -6px 0 black;
  color: white;

}
body{
  background-image: url("pizzaBackground.jpg");
}
img{
  float: left;
  width: 150px;
  height: 100px;
}
h2{
  font-size: 40px;
  text-align: center;
  color: white;
}
table{
  margin-left: auto;
  margin-right: auto;
  align: center;
}
table th{
  font-size: 25px;
  background: black;
  color: white;
}
table tr td{
  background-color: #AFEEEE;
}
div{
  margin: auto;
  width: 50%;
}
p{

  display: inline-block;
  background-color: #AFEEEE;
}
