h1{
  font-size: 60px;
  font-family: futura;
  text-shadow: -6px 0 black;
  color: white;

}
body{
  background-image: url("pizzaBackground.jpg");
}
img{
  float: left;
  width: 150px;
  height: 100px;
}
h2{
  font-size: 30px;
  text-align: center;
  color: white;
}
form{
  background-color: RGBA(255,255,255,0.6);

  width: 40%;
}
